.article {
	min-height: 71px;
	background-color: #fff;
	line-height: 1.5rem;
	padding: 10px 20px;
	margin: 0;
	border-bottom: 1px solid #e0e0e0;
}

.points {
	padding: 0 6px;
	text-align: center;
	font-size: 1rem;
	line-height: 40px;
	height: 40px;
	width: 40px;
	float: right;
	box-sizing: border-box;
	font-weight: 300;
	font-size: 0.8rem;
	color: #fff;
	background-color: rgb(255, 102, 0);
	border-radius: 2px;
	margin-top: 6px;
}

.info {
	padding: 0 6px;
	text-align: center;
	font-size: 1rem;
	line-height: 22px;
	height: 22px;
	box-sizing: border-box;
	font-weight: 300;
	font-size: 0.8rem;
	color: #fff;
	background-color: rgb(255, 102, 0);
	border-radius: 2px;
	display: inline-block;
	margin: 2px;
}

.link {
	color: black;
}

.sublink {
	color: #fff;
}
