.article {
	min-height: 71px;
	background-color: #fff;
	line-height: 1.5rem;
	padding: 10px 20px;
	margin: 0;
	border-bottom: 1px solid #e0e0e0;
}

.points {
	padding: 0 6px;
	text-align: center;
	font-size: 1rem;
	line-height: 40px;
	height: 40px;
	width: 40px;
	float: right;
	box-sizing: border-box;
	font-weight: 300;
	font-size: 0.8rem;
	color: #fff;
	background-color: rgb(255, 102, 0);
	border-radius: 2px;
	margin-top: 6px;
}

.info {
	width: 75px;
	padding: 0 6px;
	text-align: center;
	font-size: 1rem;
	line-height: 22px;
	height: 22px;
	box-sizing: border-box;
	font-weight: 300;
	font-size: 0.8rem;
	color: #fff;
	background-color: rgb(255, 102, 0);
	border-radius: 2px;
	display: inline-block;
	margin: 2px;
}

@keyframes placeHolderShimmer{
	0%{
		background-position: -468px 0
	}
	100%{
		background-position: 468px 0
	}
}

.animated {
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background-size: 800px 104px;
}

.animatedPrimary {
	background: #ddd;
	background: linear-gradient(to right, #ddd 8%, #ccc 18%, #ddd 33%);
}

.animatedSecondary {
	animation-delay: 0.2s;
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
}

.primaryShell {
	max-width: 650px;
	border-radius: 4px;
	height: 21px;
	margin-bottom: 6px;
	margin-right: 16px;
	transition: opacity 0.5s;
	opacity: 1;
	display: inline-block;
}

.container {
	height: 25px;
}
